body {
  margin: 0;
  padding: 0;
  width: 320px;
}

#container {
  width: 1530px;
  height: 360px;

  padding: 34px 35px 30px 37px;
  display: flex;
  justify-content: space-between;
}

#container .left .logo {
  width: 300px;
  height: 45px;
}

#container .left .name {
  max-width: 616px;

  margin-top: 36px;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  color: #000000;
}

#container .left .info-container {
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  max-width: 647px;
}

#container .left .info-container .code {
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  color: #000000;
}

#container .left .info-container .category {
  width: 179px;
  height: 52px;

  background: #000000;
  border-radius: 54px;

  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 52px;
}

#container .right {
  width: 400px;
  height: 400px;
}

#container .right #qrcode {
  width: 296px;
  height: 296px;
  background-color: green;
}
