.print-setting{
  width: 464px;
  height: 232px;

  .select{
    display: block;
    margin:32px auto 0;
    width: 400px;
    height: 32px;
  }

  .button{
    display: block;
    margin: 32px auto 0;
  }
}
