.virtual-screenshot {
  -webkit-app-region: no-drag; // frame 开启时添加这个 css 才能触发点击事件
  -webkit-user-select: none;

  width: inherit;
  height: inherit;

  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
