body {
  margin: 0;
  padding: 0;
  width: 320px;
}

.title {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 22px;
  font-weight: bold;
}

.content {
  width: 100%;
  border: 1px solid #000;
  margin: 0px;
  padding: 10px;
}

table tr td {
  line-height: 36px;
}
